.navbar-custom {
  background-color: #634444;
  color: #f0e9e9;
}

body {
  font-family: 'News Cycle', sans-serif;
}

.header-container {
  padding: 25px 78px;
  background: #f0e9e9;
  color: #8b5d5d; 
}

.header-row {
  padding: 3vh;
}

.image-row {
  border-radius: 3px;
}
.main-container {
  padding: 25px 78px;
  background: #f0e9e9;
  color: #8b5d5d;
}

